<script type="text/javascript" src="{$instance}/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{$instance}/js/jquery.jgrowl.min.js"></script>
<script type="text/javascript" src="{$instance}/js/ajax.js"></script>
<script type="text/javascript" src="{$instance}/js/scripts.js"></script>