{capture name="additional_product_grid_buttons"}
    {function name=get_additional_product_grid_buttons }
        <a href="/?path=profile&mode=removeProductFromFavorites" class="remove-favorite-button-link" data-id="{$product.id}" element=".main-content" target=".main-content"><div class="product-button remove-favorite-button"><i class="fa fa-times"></i> Удалить</div></a>
    {/function}
{/capture}