@font: "Open Sans";
@font-url: '../fonts/OpenSans.ttf';

@common-color: #c32b1c;
@footer-color: #000; 
@footer-contact-icon-color: #bf2a2a;
@footer-text-color: #fff;
@footer-hr-color: #fff;

@font-face {
    font-family: @font;
    src: url(@font-url);
}

a {
    text-decoration: none;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

body, html {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    color: #5e5e5e;
    overflow-x: hidden;
}

body {
    background-color: #b7b7b7;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.display-width {
    width: 100%;
}

.error {
    color: red;
}

.notify {
    color: green;
}

.padding-top-none {
    padding-top: 15px !important;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .display-width {
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

    .display-width {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1280px) {

    .display-width {
        max-width: 1100px;
    }
}

/* Header */

header {
    width: 100%;
    padding: 10px 0px;
    background-color: @common-color;
    margin: 0px auto;
    display: block;

    .slogan {
        padding: 0px 15px;
        color: white;

        p {
            margin: 0;
            color: white;
            font-size: 32px;
            font-weight: 900;
            display: contents;
        }
    }

    .logo {
        padding: 0px 10px;

        img {
            width: 50px;
        }
    }

    .menu {
        width: 100%;

        ul {
            list-style: none;
            padding: 0px 30px;
            display: inline-flex;

            li {
                padding: 0px 10px;

                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 600;

                    &:hover {
                        border-bottom: 3px solid;
                    }
                }
            }
        }
    }
}

/* Header responsive */

@media screen and (max-width: 767px) {

    header {
        text-align: center;

        .menu {

            ul {
                display: block;

                li {
                    padding: 10px 0px;
                }
            }
        }
    }
} 

@media screen and (min-width: 768px) and (max-width: 1024px) {

    header {

        .menu {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
    }
}  

@media screen and (min-width: 768px) {

    header {
        display: flex;
        height: 50px;

        .menu {
            ul {
                float: right;
                display: flex;
            }
        }
    }
} 

/* Main */

main {
    width: 100%;
    background-color: white;
    margin: 0px auto;
}

.title {
    text-align: center;
}

.page-navigation {
    width: 100%;
    height: 200px;
    background-image: url('../images/title-background.jpg');
    text-align: center;

    .container {
        width: 100%;
        padding: 50px 0px;
    }

    h2 {
        margin: 0;
        color: #dad2d2;
    }

    .page-path {
        width: 100%;
        display: inline-block;
        padding: 15px 0px;

        a, i {
            color: brown;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                color: @common-color;
            }
        }

        p {
            font-size: 18px;
            font-weight: 600;
            color: #dad2d2;
            text-transform: uppercase;
        }
    }

    p {
        display: initial;
    }
}

.main-slider {
    background: url('https://via.placeholder.com/320x200.png?text=Слайдер') no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
}

.main-content {
    padding: 30px 0px;
    width: 100%;
    box-sizing: border-box;
}

.catalog-grid {
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;

    .product {
        float: left;
        width: 100%; 
        margin-bottom: 20px;
    }
}

.profile-catalog-grid {

    display: flex;
}

.product {
    border: 1px solid #d6d6d6;

    .product-content {
        text-align: center;

        .product-name-link {
            color: black;
        }
    }

    .product-image {
        width: 100%;
        height: 200px;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            width: 100%;
            min-width: 100%;
            min-height: 100%;
            flex-shrink: 0;
        }
    }

    .product-button {
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        color: white;
        text-decoration: none;
        background-color: #459a05;
        text-transform: uppercase;

        &.remove-favorite-button {
            background-color: @common-color;
            border-top: 1px solid #bbb;

            &:hover {
                background-color: lighten(@common-color, 10%);
            }
        }
    }

    a:hover .product-button {
        background-color: lighten(#459a05, 5%);
    }

    .product-buttons-group {
        width: 100%;
        display: flex;

        a {
            flex: 50%;
            max-width: 50%;
        }
    }
}


.add-to-cart {
    display: flex;
    margin-bottom: 15px;
    background-color: #d2d2d2;
    padding: 15px;

    label {
        width: 26%;
        flex: 26%;
        text-align: center;
        padding-top: 10px;
    }

    input {
        border: 1px solid #ffffff;
        border-radius: 0px;
    }

    .product-count {
        flex: 10%;
        max-width: 10%;
        padding: 12px 5px;
    }

    .product-cart-link {
        flex: 60%;
        max-width: 60%;
        margin-right: 10px;
    }

    .product-cart-button {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        color: white;
        text-decoration: none;
        background-color: @common-color; 
        text-transform: uppercase;
        
        &:hover {
            background-color: lighten(@common-color, 10%); 
        }
    }

    .favorite-button {
        flex: 10%;
        display: contents;

        .product-favorite-link {
            flex: 10%;
            max-width: 10%;
            margin-left: 10px;
        }
    
        .product-favorite-button {
            width: 100%;
            text-align: center;
            padding: 10px 0px;
            color: white;
            text-decoration: none;
            background-color: #d68a00;
            text-transform: uppercase;
    
            &:hover {
                background-color: lighten(#d68a00, 10%); 
            }
        }
    }
}

.product-page-content {
    display: flex;
    width: 100%;

    .product-image {
        flex: 50%;
        width: 50%;

        img {
            width: 100%;
        }
    }

    .product-content {
        margin: 0px 30px;
        flex: 50%;
        width: 50%;
    }
}

.pagination-container {
    text-align: center;
    padding-bottom: 20px;
    background-color: white;

    .pagination {
        list-style: none;
        margin: 0;
        display: inline-flex;
        text-align: center;
        padding: 0;

        li {
            padding: 5px;

            a {
                color: black;
                padding: 10px 12px;
                border: 1px solid #afafafbd;

                &:hover {
                    color: white;
                    background-color: lighten(@common-color, 10%);;
                }
            }

            a.current {
                color: white;
                background-color: @common-color;
            }
        }
    }
}

.registration-form {

    width: 100%;
    flex: 100%;

    .title {
        width: 100%;
    }

    .form-input {

        width: 100%;

        label {
            display: block;
            padding-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 12px 8px;
            box-sizing: border-box;
            margin-bottom: 15px;
            border: 1px solid #3e3e3e8c;
        }

        input:focus {
            border-color: @common-color;
            outline: none;
        }
    }

    button {
        padding: 10px 10px;
        background-color: @common-color;
        border: 0;
        color: white;
        cursor: pointer;
    }

    button:hover {
        background-color: lighten(@common-color, 10%);
    }
}

.login-form {
    width: 100%;
    flex: 100%;
    max-width: 320px;
    margin: auto;

    .title {
        width: 100%;
    }

    .form-input {

        width: 100%;

        label {
            display: block;
            padding-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 12px 8px;
            box-sizing: border-box;
            margin-bottom: 15px;
            border: 1px solid #3e3e3e8c;
        }

        input:focus {
            border-color: @common-color;
            outline: none;
        }
    }

    button {
        padding: 10px 10px;
        background-color: @common-color;
        border: 1px solid @common-color;
        color: white;
        cursor: pointer;
    }

    button:hover {
        background-color: lighten(@common-color, 10%);
    }

    .button-2 {
        padding: 10px 10px;
        background-color: white;
        border: 1px solid @common-color;
        color: @common-color;
        cursor: pointer;
    }

    .button-2:hover {
        background-color: darken(white, 10%);
    }
}

.profile-content {
    display: block !important;
} 

.cart-content {
    display: block !important;

    .button {
        text-align: center;
        width: 200px;
        margin: auto;
        display: block;
        padding: 10px 10px;
        background-color: @common-color;
        border: 1px solid @common-color;
        color: white;
        cursor: pointer;
    }

    .button:hover {
        background-color: lighten(@common-color, 10%);
    }

    .button-2 {
        text-align: center;
        display: block;
        width: 200px;
        margin: auto;
        padding: 10px 10px;
        background-color: white;
        border: 1px solid @common-color;
        color: @common-color;
        cursor: pointer;
    }

    .button-2:hover {
        background-color: darken(white, 10%);
    }
} 

.left-right-blocks {
    width: 100%;
    display: flex;
    padding: 20px 0px;

    .left-block {
        flex: 50%;
        max-width: 50%;
        float: left;

        .button-2 {
            float: left;
        }
    }

    .right-block {
        flex: 50%;
        max-width: 50%;
        float: right;

        .button {
            float: right;
        }
    }
}

.checkout-content {
    display: block !important;
}

.notice, .message {
    background-color: #e8e8e8;
    padding: 25px 30px;
    border-top: 5px solid @common-color;
    margin: 40px 0px;
    
    a {
        color: @common-color;
    }

    .button {
        margin-left: 15px;
        text-align: center;
        padding: 10px 10px;
        background-color: @common-color;
        border: 1px solid @common-color;
        color: white;
        cursor: pointer;
    }

    .button:hover {
        background-color: lighten(@common-color, 10%);
    }

    .button-2 {
        padding: 10px 10px;
        background-color: white;
        border: 1px solid @common-color;
        color: @common-color;
        cursor: pointer;
    }

    .button-2:hover {
        background-color: darken(white, 10%);
    }
}

.message {
    border-top: 5px solid #279802;
}

.checkout-form {
    
    .title {
        margin: 60px 0px;
    }

    .button {
        font-size: 20px;
    }
}

.block {
    display: block !important;
}

.product-tabs-content {
    padding: 30px;
    border: 1px solid #ccc;
    border-top: 0;
    margin-left: 2px;
}

.profile-nav, .product-tabs {
    width: 100%;
    flex: 100%;
    text-align: center;
    border-bottom: 1px solid #ccccccd9;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;

    li {
        margin-bottom: -1px;
        box-sizing: border-box;
        padding: 8px 1px;
        color: @common-color;
        border: 1px solid transparent;
        margin-bottom: -1px;

        a {
            border: 1px solid transparent;
            padding: .5rem 1rem;
            color: @common-color;

            &.active {
                color: #495057;
                background-color: #fff;
                border-color: #ccccccd9 #ccccccd9 #fff;
            }

            &:hover {
                border-color: #ccccccd9 #ccccccd9 #dee2e6;
            }
        }

        a.active {
            &:hover {
                border-color: #ccccccd9 #ccccccd9 #fff;
                border-bottom-color: white;
            }
        }
    }
}

.profile-form {
    width: 100%;
    flex: 100%;

    .title {
        width: 100%;
    }

    .form-input {

        width: 100%;
        display: block;

        label {
            display: block;
            padding-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 12px 8px;
            box-sizing: border-box;
            margin-bottom: 15px;
            border: 1px solid #3e3e3e8c;
        }

        input:focus {
            border-color: @common-color;
            outline: none;
        }

        .form-row {
            display: flex;
            width: 100%;

            .input {
                padding: 0px 5px;
            }
        }
    }

    button {
        padding: 10px 10px;
        background-color: @common-color;
        border: 1px solid @common-color;
        color: white;
        cursor: pointer;
    }

    button:hover {
        background-color: lighten(@common-color, 10%);
    }

    .button-2 {
        padding: 10px 10px;
        background-color: white;
        border: 1px solid @common-color;
        color: @common-color;
        cursor: pointer;
    }

    .button-2:hover {
        background-color: darken(white, 10%);
    }
}

.addresses-bottom {
    text-align: center;
    width: 100%;

    .add-address {
        padding: 10px 10px;
        background-color: @common-color;
        border: 1px solid @common-color;
        color: white;
        cursor: pointer;
        font-size: 14px;
    
        &:hover {
            background-color: lighten(@common-color, 10%);
        }
    }
}

.input {
    &.mini {
        max-width: 15% !important;
        flex: 15%;
    }

    &.small {
        max-width: 30% !important;
        flex: 30%;
    }

    &.medium {
        max-width: 50% !important;
        flex: 50%;
    }

    &.big {
        max-width: 70% !important;
        flex: 70%;
    }

    &.full {
        max-width: 100% !important;
        flex: 100%;
    }
}

/* Main responsive */

@media screen and (max-width: 768px) {

    .main-content {
        display: grid;
    }
    
    .product-page-content {
        padding: 0px 15px;
    }

    .registration-form {
        padding: 0px 10px;
        box-sizing: border-box;

        button {
            width: 100%;
        }
    }

    .login-form {
        padding: 0px 10px;
        box-sizing: border-box;

        button {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .profile-form {
        padding: 0px 10px;
        box-sizing: border-box;

        button {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .form-row {
        display: block !important;

        .input {
            max-width: 100% !important;
        }
    }

    .cart-table {
        overflow-x: auto;
    }

    .left-right-blocks {
        display: inline-block;

        .left-block {

            * {
                max-width: 100%;
            }

            max-width: 100%;
            margin-bottom: 10px;
            text-align: center;
            float: initial;
            display: flex;
        }

        .right-block {

            * {
                max-width: 100%;
            }

            max-width: 100%;
            margin-bottom: 10px;
            text-align: center;
            float: initial;
            display: flex;
        }
    }

    .product-page-content {
        display: block;
        
        .product-image {
            width: 290px;
        }

        .product-content {
            margin: 0;
            max-width: 100%;
            width: 290px;
        }

        .add-to-cart {
            display: block;

            .product-count {
                margin-bottom: 10px;
            }

            .product-cart-button {
                margin: 0;
            }
        }
    }
}

.orders-table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: center;

    thead {
        background-color: #888888;
        color: white;

        th {
            padding: .75rem;
            border-bottom-width: 2px;
            vertical-align: bottom;
            border-bottom: 2px solid #fdfdfd;
        }
    }

    th {
        border: 1px solid #dee2e6;
        padding: .75rem;
        vertical-align: top;
    }

    td {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }
}

.cart-table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    box-sizing: border-box;

    thead {
        background-color: #2f7aa7;;
        color: white;

        th {
            padding: .75rem;
            border-bottom-width: 2px;
            vertical-align: bottom;
            border-bottom: 2px solid #fdfdfd;
        }
    }

    th {
        border: 1px solid #dee2e6;
        padding: .75rem;
        vertical-align: top;
    }

    td {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
        text-align: center;
    }

    img {
        width: 200px;
    }

    .product-count-updater-input {
        padding: 12px 5px;
        border: 1px solid #cacacad1;
        border-radius: 0px;
        width: 52px;
        height: 22px;
    }

    .remove-cart-product-link {
        color: @common-color;
    }
    
    .remove-cart-product-link:hover {
        color: lighten(@common-color, 10%);
    }

    .product-name-link {
        color: black;
    }
}

@media screen and (min-width: 768px) {

    .page-navigation {

        .container {
            padding: 50px 70px;
            text-align: initial;
        }
    }

    .main-slider {
        background: url('https://via.placeholder.com/768x300.png?text=Тут слайдер по идее должен быть... но нету(') no-repeat;
        height: 300px;
    }

    .main-content {
        padding: 30px 30px;
        display: flex;
    }

    .catalog-grid {
        padding: 20px 30px;

        .product {
            float: left;
            width: 30%;
            margin: 10px 10px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .catalog-grid {
        padding: 20px 20px;

        .product {
            float: left;
            margin: 10px 10px;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

    .main-slider {
        background: url('https://via.placeholder.com/1024x400.png?text=Тут слайдер по идее должен быть... но нету(') no-repeat;
        height: 400px;
    }
}

@media screen and (min-width: 1280px) {

    .main-slider {
        background: url('https://via.placeholder.com/1100x400.png?text=Тут слайдер по идее должен быть... но нету(') no-repeat;
    }
}

/* Footer */

footer {

    .footer-container {
        width: 100%;
        padding: 10px 10px;
        background-color: @footer-color;
        margin: 0px auto;
        display: block;
        color: @footer-text-color;

        div {
            padding: 0;
        }
    }

    .menu {

        ul {
            list-style: none;
            width: 100%;
            padding: 0;
            display: inline-flex;

            li {
                padding: 0px 10px;

                a {
                    color: @footer-text-color;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        border-bottom: 3px solid;
                    }
                }
            }
        }
    }

    .contacts {
        width: 100%;

        .contact {
            padding: 5px 0px;

            i {
                color: @footer-contact-icon-color;
                text-align: center;
                width: 32px;
                font-size: 32px;
            }

            a {
                text-decoration: none;
                color: @footer-text-color;
                font-size: 20px;
                margin-left: 5px;

                &:hover {
                    color: darken(@footer-text-color, 30%);
                }
            }
        }
    }

    .social-links {
        text-align: center;
        width: 100%;
    }

    hr {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ffffff4d;
    }    

    .footer-social-links {
        padding: 0px;
        padding-bottom: 10px;

        .social-link {
            display: inline-flex;
            padding: 0px 5px;

            a {
                color: @footer-text-color;
                padding: 0px 8px;
                font-size: 25px;

                &:hover {
                    color: darken(@footer-text-color, 30%);
                }
            }
        }
    }

    .copyright {
        text-align: center;
        width: 100%;
        display: block !important;
    }
}

/* Footer responsive */

@media screen and (max-width: 767px) {

    footer {

        .menu {
            width: 100%;
            max-width: 200px;
            margin: auto;
            padding-top: 10px !important;
        }
    }
}

@media screen and (min-width: 768px) {

    footer {
        .contacts {
            flex: 30%;
            width: 30%;
        }

        .menu ul {
            flex: 70%;
            width: 70%;
            display: flex;
        }

        .footer-container {
            display: flex;
            padding: 10px 0px;

            div {
                padding: 0px 30px;
            }
        }
    }
}

/* toTop button */

#toTop {
    position: fixed;
    width: 48px;
    height: 48px;
    background-color: #000;
    bottom: 30px;
    right: 150px;
    color:white;
    text-align: center;
    cursor: pointer;
    border: 3px solid #c32b1c;
    border-radius: 30px;
    display: none;

    &:hover {
        background-color: #c32b1c;
    }

    i {
        padding: 8px 0px;
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {

    #toTop {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    #toTop {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

    #toTop {
        right: 60px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1367px) {

    #toTop {
        right: 60px;
    }
}

/* chat button */

#chat {
    position: fixed;
    width: 48px;
    height: 48px;
    background-color: #000;
    bottom: 30px;
    left: 80px;
    color:white;
    text-align: center;
    cursor: pointer;
    border: 3px solid #279802;
    border-radius: 30px;

    &:hover {
        background-color: #279802;
    }

    i {
        padding: 10px 0px;
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {

    #chat {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    #chat {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

    #chat {
        left: 60px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1367px) {

    #chat {
        left: 60px;
    }
}

