@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans.ttf');
}
a {
  text-decoration: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  color: #5e5e5e;
  overflow-x: hidden;
}
body {
  background-color: #b7b7b7;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.display-width {
  width: 100%;
}
.error {
  color: red;
}
.notify {
  color: green;
}
.padding-top-none {
  padding-top: 15px !important;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .display-width {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .display-width {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .display-width {
    max-width: 1100px;
  }
}
/* Header */
header {
  width: 100%;
  padding: 10px 0px;
  background-color: #c32b1c;
  margin: 0px auto;
  display: block;
}
header .slogan {
  padding: 0px 15px;
  color: white;
}
header .slogan p {
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: contents;
}
header .logo {
  padding: 0px 10px;
}
header .logo img {
  width: 50px;
}
header .menu {
  width: 100%;
}
header .menu ul {
  list-style: none;
  padding: 0px 30px;
  display: inline-flex;
}
header .menu ul li {
  padding: 0px 10px;
}
header .menu ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
header .menu ul li a:hover {
  border-bottom: 3px solid;
}
/* Header responsive */
@media screen and (max-width: 767px) {
  header {
    text-align: center;
  }
  header .menu ul {
    display: block;
  }
  header .menu ul li {
    padding: 10px 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .menu ul li {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  header {
    display: flex;
    height: 50px;
  }
  header .menu ul {
    float: right;
    display: flex;
  }
}
/* Main */
main {
  width: 100%;
  background-color: white;
  margin: 0px auto;
}
.title {
  text-align: center;
}
.page-navigation {
  width: 100%;
  height: 200px;
  background-image: url('../images/title-background.jpg');
  text-align: center;
}
.page-navigation .container {
  width: 100%;
  padding: 50px 0px;
}
.page-navigation h2 {
  margin: 0;
  color: #dad2d2;
}
.page-navigation .page-path {
  width: 100%;
  display: inline-block;
  padding: 15px 0px;
}
.page-navigation .page-path a,
.page-navigation .page-path i {
  color: brown;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.page-navigation .page-path a:hover,
.page-navigation .page-path i:hover {
  color: #c32b1c;
}
.page-navigation .page-path p {
  font-size: 18px;
  font-weight: 600;
  color: #dad2d2;
  text-transform: uppercase;
}
.page-navigation p {
  display: initial;
}
.main-slider {
  background: url('https://via.placeholder.com/320x200.png?text=Слайдер') no-repeat;
  width: 100%;
  height: 200px;
  background-size: cover;
}
.main-content {
  padding: 30px 0px;
  width: 100%;
  box-sizing: border-box;
}
.catalog-grid {
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
}
.catalog-grid .product {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.profile-catalog-grid {
  display: flex;
}
.product {
  border: 1px solid #d6d6d6;
}
.product .product-content {
  text-align: center;
}
.product .product-content .product-name-link {
  color: black;
}
.product .product-image {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.product .product-image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
}
.product .product-button {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: white;
  text-decoration: none;
  background-color: #459a05;
  text-transform: uppercase;
}
.product .product-button.remove-favorite-button {
  background-color: #c32b1c;
  border-top: 1px solid #bbb;
}
.product .product-button.remove-favorite-button:hover {
  background-color: #e14131;
}
.product a:hover .product-button {
  background-color: #50b306;
}
.product .product-buttons-group {
  width: 100%;
  display: flex;
}
.product .product-buttons-group a {
  flex: 50%;
  max-width: 50%;
}
.add-to-cart {
  display: flex;
  margin-bottom: 15px;
  background-color: #d2d2d2;
  padding: 15px;
}
.add-to-cart label {
  width: 26%;
  flex: 26%;
  text-align: center;
  padding-top: 10px;
}
.add-to-cart input {
  border: 1px solid #ffffff;
  border-radius: 0px;
}
.add-to-cart .product-count {
  flex: 10%;
  max-width: 10%;
  padding: 12px 5px;
}
.add-to-cart .product-cart-link {
  flex: 60%;
  max-width: 60%;
  margin-right: 10px;
}
.add-to-cart .product-cart-button {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: white;
  text-decoration: none;
  background-color: #c32b1c;
  text-transform: uppercase;
}
.add-to-cart .product-cart-button:hover {
  background-color: #e14131;
}
.add-to-cart .favorite-button {
  flex: 10%;
  display: contents;
}
.add-to-cart .favorite-button .product-favorite-link {
  flex: 10%;
  max-width: 10%;
  margin-left: 10px;
}
.add-to-cart .favorite-button .product-favorite-button {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: white;
  text-decoration: none;
  background-color: #d68a00;
  text-transform: uppercase;
}
.add-to-cart .favorite-button .product-favorite-button:hover {
  background-color: #ffa80a;
}
.product-page-content {
  display: flex;
  width: 100%;
}
.product-page-content .product-image {
  flex: 50%;
  width: 50%;
}
.product-page-content .product-image img {
  width: 100%;
}
.product-page-content .product-content {
  margin: 0px 30px;
  flex: 50%;
  width: 50%;
}
.pagination-container {
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
}
.pagination-container .pagination {
  list-style: none;
  margin: 0;
  display: inline-flex;
  text-align: center;
  padding: 0;
}
.pagination-container .pagination li {
  padding: 5px;
}
.pagination-container .pagination li a {
  color: black;
  padding: 10px 12px;
  border: 1px solid #afafafbd;
}
.pagination-container .pagination li a:hover {
  color: white;
  background-color: #e14131;
}
.pagination-container .pagination li a.current {
  color: white;
  background-color: #c32b1c;
}
.registration-form {
  width: 100%;
  flex: 100%;
}
.registration-form .title {
  width: 100%;
}
.registration-form .form-input {
  width: 100%;
}
.registration-form .form-input label {
  display: block;
  padding-bottom: 5px;
}
.registration-form .form-input input {
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #3e3e3e8c;
}
.registration-form .form-input input:focus {
  border-color: #c32b1c;
  outline: none;
}
.registration-form button {
  padding: 10px 10px;
  background-color: #c32b1c;
  border: 0;
  color: white;
  cursor: pointer;
}
.registration-form button:hover {
  background-color: #e14131;
}
.login-form {
  width: 100%;
  flex: 100%;
  max-width: 320px;
  margin: auto;
}
.login-form .title {
  width: 100%;
}
.login-form .form-input {
  width: 100%;
}
.login-form .form-input label {
  display: block;
  padding-bottom: 5px;
}
.login-form .form-input input {
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #3e3e3e8c;
}
.login-form .form-input input:focus {
  border-color: #c32b1c;
  outline: none;
}
.login-form button {
  padding: 10px 10px;
  background-color: #c32b1c;
  border: 1px solid #c32b1c;
  color: white;
  cursor: pointer;
}
.login-form button:hover {
  background-color: #e14131;
}
.login-form .button-2 {
  padding: 10px 10px;
  background-color: white;
  border: 1px solid #c32b1c;
  color: #c32b1c;
  cursor: pointer;
}
.login-form .button-2:hover {
  background-color: #e6e6e6;
}
.profile-content {
  display: block !important;
}
.cart-content {
  display: block !important;
}
.cart-content .button {
  text-align: center;
  width: 200px;
  margin: auto;
  display: block;
  padding: 10px 10px;
  background-color: #c32b1c;
  border: 1px solid #c32b1c;
  color: white;
  cursor: pointer;
}
.cart-content .button:hover {
  background-color: #e14131;
}
.cart-content .button-2 {
  text-align: center;
  display: block;
  width: 200px;
  margin: auto;
  padding: 10px 10px;
  background-color: white;
  border: 1px solid #c32b1c;
  color: #c32b1c;
  cursor: pointer;
}
.cart-content .button-2:hover {
  background-color: #e6e6e6;
}
.left-right-blocks {
  width: 100%;
  display: flex;
  padding: 20px 0px;
}
.left-right-blocks .left-block {
  flex: 50%;
  max-width: 50%;
  float: left;
}
.left-right-blocks .left-block .button-2 {
  float: left;
}
.left-right-blocks .right-block {
  flex: 50%;
  max-width: 50%;
  float: right;
}
.left-right-blocks .right-block .button {
  float: right;
}
.checkout-content {
  display: block !important;
}
.notice,
.message {
  background-color: #e8e8e8;
  padding: 25px 30px;
  border-top: 5px solid #c32b1c;
  margin: 40px 0px;
}
.notice a,
.message a {
  color: #c32b1c;
}
.notice .button,
.message .button {
  margin-left: 15px;
  text-align: center;
  padding: 10px 10px;
  background-color: #c32b1c;
  border: 1px solid #c32b1c;
  color: white;
  cursor: pointer;
}
.notice .button:hover,
.message .button:hover {
  background-color: #e14131;
}
.notice .button-2,
.message .button-2 {
  padding: 10px 10px;
  background-color: white;
  border: 1px solid #c32b1c;
  color: #c32b1c;
  cursor: pointer;
}
.notice .button-2:hover,
.message .button-2:hover {
  background-color: #e6e6e6;
}
.message {
  border-top: 5px solid #279802;
}
.checkout-form .title {
  margin: 60px 0px;
}
.checkout-form .button {
  font-size: 20px;
}
.block {
  display: block !important;
}
.product-tabs-content {
  padding: 30px;
  border: 1px solid #ccc;
  border-top: 0;
  margin-left: 2px;
}
.profile-nav,
.product-tabs {
  width: 100%;
  flex: 100%;
  text-align: center;
  border-bottom: 1px solid #ccccccd9;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
}
.profile-nav li,
.product-tabs li {
  box-sizing: border-box;
  padding: 8px 1px;
  color: #c32b1c;
  border: 1px solid transparent;
  margin-bottom: -1px;
}
.profile-nav li a,
.product-tabs li a {
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  color: #c32b1c;
}
.profile-nav li a.active,
.product-tabs li a.active {
  color: #495057;
  background-color: #fff;
  border-color: #ccccccd9 #ccccccd9 #fff;
}
.profile-nav li a:hover,
.product-tabs li a:hover {
  border-color: #ccccccd9 #ccccccd9 #dee2e6;
}
.profile-nav li a.active:hover,
.product-tabs li a.active:hover {
  border-color: #ccccccd9 #ccccccd9 #fff;
  border-bottom-color: white;
}
.profile-form {
  width: 100%;
  flex: 100%;
}
.profile-form .title {
  width: 100%;
}
.profile-form .form-input {
  width: 100%;
  display: block;
}
.profile-form .form-input label {
  display: block;
  padding-bottom: 5px;
}
.profile-form .form-input input {
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #3e3e3e8c;
}
.profile-form .form-input input:focus {
  border-color: #c32b1c;
  outline: none;
}
.profile-form .form-input .form-row {
  display: flex;
  width: 100%;
}
.profile-form .form-input .form-row .input {
  padding: 0px 5px;
}
.profile-form button {
  padding: 10px 10px;
  background-color: #c32b1c;
  border: 1px solid #c32b1c;
  color: white;
  cursor: pointer;
}
.profile-form button:hover {
  background-color: #e14131;
}
.profile-form .button-2 {
  padding: 10px 10px;
  background-color: white;
  border: 1px solid #c32b1c;
  color: #c32b1c;
  cursor: pointer;
}
.profile-form .button-2:hover {
  background-color: #e6e6e6;
}
.addresses-bottom {
  text-align: center;
  width: 100%;
}
.addresses-bottom .add-address {
  padding: 10px 10px;
  background-color: #c32b1c;
  border: 1px solid #c32b1c;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
.addresses-bottom .add-address:hover {
  background-color: #e14131;
}
.input.mini {
  max-width: 15% !important;
  flex: 15%;
}
.input.small {
  max-width: 30% !important;
  flex: 30%;
}
.input.medium {
  max-width: 50% !important;
  flex: 50%;
}
.input.big {
  max-width: 70% !important;
  flex: 70%;
}
.input.full {
  max-width: 100% !important;
  flex: 100%;
}
/* Main responsive */
@media screen and (max-width: 768px) {
  .main-content {
    display: grid;
  }
  .product-page-content {
    padding: 0px 15px;
  }
  .registration-form {
    padding: 0px 10px;
    box-sizing: border-box;
  }
  .registration-form button {
    width: 100%;
  }
  .login-form {
    padding: 0px 10px;
    box-sizing: border-box;
  }
  .login-form button {
    width: 100%;
    margin-bottom: 10px;
  }
  .profile-form {
    padding: 0px 10px;
    box-sizing: border-box;
  }
  .profile-form button {
    width: 100%;
    margin-bottom: 10px;
  }
  .form-row {
    display: block !important;
  }
  .form-row .input {
    max-width: 100% !important;
  }
  .cart-table {
    overflow-x: auto;
  }
  .left-right-blocks {
    display: inline-block;
  }
  .left-right-blocks .left-block {
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
    float: initial;
    display: flex;
  }
  .left-right-blocks .left-block * {
    max-width: 100%;
  }
  .left-right-blocks .right-block {
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
    float: initial;
    display: flex;
  }
  .left-right-blocks .right-block * {
    max-width: 100%;
  }
  .product-page-content {
    display: block;
  }
  .product-page-content .product-image {
    width: 290px;
  }
  .product-page-content .product-content {
    margin: 0;
    max-width: 100%;
    width: 290px;
  }
  .product-page-content .add-to-cart {
    display: block;
  }
  .product-page-content .add-to-cart .product-count {
    margin-bottom: 10px;
  }
  .product-page-content .add-to-cart .product-cart-button {
    margin: 0;
  }
}
.orders-table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: center;
}
.orders-table thead {
  background-color: #888888;
  color: white;
}
.orders-table thead th {
  padding: 0.75rem;
  border-bottom-width: 2px;
  vertical-align: bottom;
  border-bottom: 2px solid #fdfdfd;
}
.orders-table th {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
}
.orders-table td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}
.cart-table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  box-sizing: border-box;
}
.cart-table thead {
  background-color: #2f7aa7;
  color: white;
}
.cart-table thead th {
  padding: 0.75rem;
  border-bottom-width: 2px;
  vertical-align: bottom;
  border-bottom: 2px solid #fdfdfd;
}
.cart-table th {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
}
.cart-table td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
  text-align: center;
}
.cart-table img {
  width: 200px;
}
.cart-table .product-count-updater-input {
  padding: 12px 5px;
  border: 1px solid #cacacad1;
  border-radius: 0px;
  width: 52px;
  height: 22px;
}
.cart-table .remove-cart-product-link {
  color: #c32b1c;
}
.cart-table .remove-cart-product-link:hover {
  color: #e14131;
}
.cart-table .product-name-link {
  color: black;
}
@media screen and (min-width: 768px) {
  .page-navigation .container {
    padding: 50px 70px;
    text-align: initial;
  }
  .main-slider {
    background: url('https://via.placeholder.com/768x300.png?text=Тут слайдер по идее должен быть... но нету(') no-repeat;
    height: 300px;
  }
  .main-content {
    padding: 30px 30px;
    display: flex;
  }
  .catalog-grid {
    padding: 20px 30px;
  }
  .catalog-grid .product {
    float: left;
    width: 30%;
    margin: 10px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .catalog-grid {
    padding: 20px 20px;
  }
  .catalog-grid .product {
    float: left;
    margin: 10px 10px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main-slider {
    background: url('https://via.placeholder.com/1024x400.png?text=Тут слайдер по идее должен быть... но нету(') no-repeat;
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .main-slider {
    background: url('https://via.placeholder.com/1100x400.png?text=Тут слайдер по идее должен быть... но нету(') no-repeat;
  }
}
/* Footer */
footer .footer-container {
  width: 100%;
  padding: 10px 10px;
  background-color: #000;
  margin: 0px auto;
  display: block;
  color: #fff;
}
footer .footer-container div {
  padding: 0;
}
footer .menu ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: inline-flex;
}
footer .menu ul li {
  padding: 0px 10px;
}
footer .menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
footer .menu ul li a:hover {
  border-bottom: 3px solid;
}
footer .contacts {
  width: 100%;
}
footer .contacts .contact {
  padding: 5px 0px;
}
footer .contacts .contact i {
  color: #bf2a2a;
  text-align: center;
  width: 32px;
  font-size: 32px;
}
footer .contacts .contact a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 5px;
}
footer .contacts .contact a:hover {
  color: #b3b3b3;
}
footer .social-links {
  text-align: center;
  width: 100%;
}
footer hr {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ffffff4d;
}
footer .footer-social-links {
  padding: 0px;
  padding-bottom: 10px;
}
footer .footer-social-links .social-link {
  display: inline-flex;
  padding: 0px 5px;
}
footer .footer-social-links .social-link a {
  color: #fff;
  padding: 0px 8px;
  font-size: 25px;
}
footer .footer-social-links .social-link a:hover {
  color: #b3b3b3;
}
footer .copyright {
  text-align: center;
  width: 100%;
  display: block !important;
}
/* Footer responsive */
@media screen and (max-width: 767px) {
  footer .menu {
    width: 100%;
    max-width: 200px;
    margin: auto;
    padding-top: 10px !important;
  }
}
@media screen and (min-width: 768px) {
  footer .contacts {
    flex: 30%;
    width: 30%;
  }
  footer .menu ul {
    flex: 70%;
    width: 70%;
    display: flex;
  }
  footer .footer-container {
    display: flex;
    padding: 10px 0px;
  }
  footer .footer-container div {
    padding: 0px 30px;
  }
}
/* toTop button */
#toTop {
  position: fixed;
  width: 48px;
  height: 48px;
  background-color: #000;
  bottom: 30px;
  right: 150px;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 3px solid #c32b1c;
  border-radius: 30px;
  display: none;
}
#toTop:hover {
  background-color: #c32b1c;
}
#toTop i {
  padding: 8px 0px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  #toTop {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #toTop {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  #toTop {
    right: 60px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1367px) {
  #toTop {
    right: 60px;
  }
}
/* chat button */
#chat {
  position: fixed;
  width: 48px;
  height: 48px;
  background-color: #000;
  bottom: 30px;
  left: 80px;
  color: white;
  text-align: center;
  cursor: pointer;
  border: 3px solid #279802;
  border-radius: 30px;
}
#chat:hover {
  background-color: #279802;
}
#chat i {
  padding: 10px 0px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  #chat {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #chat {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  #chat {
    left: 60px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1367px) {
  #chat {
    left: 60px;
  }
}
